<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/css/orders.css}">
</head>
<body>
<h1>Orders</h1>
<ul>
    <li th:each="o : ${order}">
        <span th:text="'id: ' + ${o.id}"></span>
        <span th:text="'Total Amount: ' + ${o.getTotalAmount()}"></span>


        <span th:switch="${o.getStatus()}">
            <span style="color: #856404;" th:case="1">Pending</span>
           <span style="color: green;" th:case="2">Delivered</span>
           <span style="color: red;" th:case="3">Cancelled</span>
           <span style="color: orange;" th:case="4">Returned</span>
       </span>
        <span th:text="'Created at: ' + ${o.getOrderDate()}"></span>
        <form method="post" style="display:inline"
              th:action="@{/orders/{id}(id=${o.id})}">
            <input name="_method" type="hidden" value="DELETE">
            <button onclick="return confirm('Delete order ${o.id}?')" type="submit">Ta bort</button>
            <a th:href="@{/orders/{id}(id=${o.id})}">View info about the order</a>
            <a th:href="@{/orders/{id}/edit(id=${o.id})}">Edit</a>
        </form>
    </li>
    <a href="https://labb-drift-1-0-0.onrender.com/orders/new">Add a new order</a>
</ul>
</body>
</html>
