<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All customers</title>
</head>
<body>
<h1>All customers</h1>
<ul>
    <li th:each="customer : ${customers}">
        <span th:text="${customer.id}"></span>
        <span th:text="${customer.firstName}"></span>
        <span th:text="${customer.lastName}"></span>
        <span th:text="${customer.email}"></span>
        <a th:href="@{/customers/{id}(id=${customer.id})}">Show info</a>
        <a th:href="@{/customers/{id}/edit(id=${customer.id})}">Uppdate customer</a>


        <form th:action="@{/customers/{id}(id=${customer.id})}" method="post" style="display:inline">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>

        </form>
    </li>
    <li>
        <a th:href="@{/customers/new}">Add new customer</a>
    </li>
</ul>
</body>
</html>