<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome, please navigate through the links below</h1>
<ul>
    <li>
        <a href="https://labb-drift-1-0-0.onrender.com/customers">Go to Customers</a>
    </li>
    <li>
        <a href="https://labb-drift-1-0-0.onrender.com/orders">Go to Orders</a>
    </li>
    <li>
        <a href="https://labb-drift-1-0-0.onrender.com/products">Go to Products</a>
    </li>
</ul>
</body>
</html>